<!-- <p id="notice"><%= notice %></p> -->

<main>
  <!-- Insert the map container which spans the whole viewport -->
  <div id='map' class='map'></div>

  <script type="text/javascript">
    tt.setProductInfo('<your-product-name>', '<your-product-version>');
    var map_center = new tt.LngLat(13.454111, 52.496722)
    var map_bounds = map_center.toBounds(5000)
    var cruncher_map = tt.map({
                                key: 'LPnPKKu2jDJkI4wzrjRE9snuXVN3UvOz',
                                container: 'map',
                                style: 'tomtom://vector/1/basic-main',
                                center: map_center,
                                zoom: 12,
                                renderWorldCopies: false
                              });

    cruncher_map.addControl(new tt.FullscreenControl());
    cruncher_map.addControl(new tt.NavigationControl());
  </script>
</main>

<aside>
  <!-- Show the side bar -->

</aside>

